{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Portal interno: ZumaMarkets</title>   
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/dialog-polyfill@0.5.6/dist/dialog-polyfill.css"
    integrity="sha256-hT0ET4tfm+7MyjeBepBgV2N5tOmsAVKcTWhH82jvoaA="
    crossorigin="anonymous"
  />
    <script src="https://kit.fontawesome.com/2fa60861de.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('.static',filename='materialize/css/materialize.min.css')}}">
    
    <link rel="stylesheet" href="{{url_for('.static',filename='styles/styles.css')}}">
    {% if react %}
    <script src="{{url_for('.static',filename='js/'+react)}}" crossorigin></script>
    <script src="{{url_for('.static',filename='js/'+reactDOM)}}" crossorigin></script>
    {% endif %}
    <script src="{{url_for('.static',filename='js/react-router-dom.min.js')}}" crossorigin></script>
    <script>
      const getQueryParams = (url) => {
  let qParams = {};
  // create a binding tag to use a property called search
  let anchor = document.createElement('a');
  // assign the href URL of the anchor tag
  anchor.href = url;
  // search property returns URL query string
  let qStrings = anchor.search.substring(1);
  let params = qStrings.split('&');
  for (let i = 0; i < params.length; i++) {
    let pair = params[i].split('=');
      qParams[pair[0]] = decodeURIComponent(pair[1]);
    }
    return qParams;
};
    </script>
    {{super()}}
        

    {% endblock %}
    
</head>
<body>
   
{% block content %}


{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(document).ready(()=>{
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    })
    
  </script>

<script src="{{url_for('.static',filename='materialize/js/materialize.min.js')}}" crossorigin ></script>
<script src="{{url_for('.static',filename='js/editor.min.js')}}"></script>
<script src="{{url_for('.static',filename='js/bundle.js')}}"></script>
<script src="{{url_for('.static',filename='js/inline-image-bundle.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@1.2.0/dist/bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@1.3.1/dist/bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-layout@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@2.7.0/dist/bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.6.0/dist/bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/raw@2.3.0/dist/bundle.min.js"></script>
<script>

</script>



<script src="{{url_for('.static',filename='js/build/app.js')}}" crossorigin type='module'></script>

{% endblock %}
</body>
</html>
