{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Portal interno: ZumaMarkets</title>   
    <script src="https://kit.fontawesome.com/2fa60861de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('.static',filename='styles/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='materialize/css/materialize.min.css')}}">
    {% if react %}
    <script src="{{url_for('.static',filename='js/'+react)}}" crossorigin></script>
    <script src="{{url_for('.static',filename='js/'+reactDOM)}}" crossorigin></script>
    {% endif %}
    <script src="{{url_for('.static',filename='js/react-router.min.js')}}" crossorigin></script>

    {{super()}}
        

    {% endblock %}
    
</head>
<body>
   
{% block content %}


{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(document).ready(()=>{
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    })
    
  </script>

<script src="{{url_for('.static',filename='materialize/js/materialize.min.js')}}" crossorigin ></script>
<script src="{{url_for('.static',filename='js/build/index.js')}}" crossorigin type='module'></script>
{% endblock %}
</body>
</html>
