{% extends 'layout.html'%}
{% from 'helpers/_forms.html' import render_field %}

{%block container%}

<div class="col-md-6 col-md-offset-1">
    <h3>Login</h3>
    <form action="" method="POST">

        
        
        <div class="form-group">
            <!-- RENDER FIELDS WITH BOOTSTRAP CLASSES -->
            {{ render_field(form.username, class='form-control', placeholder='Correo Electrónico') }}
            
        </div>
        <div class="form-group">
            <!-- RENDER FIELDS WITH BOOTSTRAP CLASSES -->   
            {{ render_field(form.password, class='form-control', placeholder='Contraseña') }}
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}